:host {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border-left: silver 1px solid;
}

#appbar {
    background-color: #f2f2f2;
    border-bottom: 1px solid silver;
}

:host #appbar > .design-controls {
    margin: 0;
}

.design-controls > * {
    margin: 0 8px;
}

.separator {
    border-left: #656565 solid 1px;
    opacity: 0.8;
    height: 24px;
}

#code {
    font-size: 16px;
    /* ensure position absolute; necessary under SD polyfill */
    position: absolute;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fcfcfc;
}

/*
 * some icons need to be rotated 90deg because that direction is missing
 * TODO(dfreedm): Get proper icons from designers
 * */
core-icon-button.rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

/*****/

:host /deep/ #tabs {
                 padding: 12px 12px 0;
                 background-color: #f2f2f2;
                 color: #a9a9a9;
                 border-bottom: 1px solid #ccc;
             }

:host /deep/ #tabs > * {
                 display: inline-block;
                 height: 40px;
                 line-height: 40px;
                 padding: 0 12px;
                 box-sizing: border-box;
                 -moz-box-sizing: border-box;
                 border-bottom: 0;
                 text-transform: uppercase;
                 font-size: 0.9rem;
                 cursor: default;
             }

:host /deep/ #tabs > .core-selected {
                 color: #5d5d5d;
                 border-bottom: 1px solid #5d5d5d;
             }

#tools {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    width: 350px;
    border-left: 1px solid silver;
    -webkit-user-select: none;
    background-color: #f2f2f2;
}

#tools.maximized {
    -webkit-transform: translate3d(350px, 0, 0);
    transform: translate3d(350px, 0, 0);
    box-shadow: none;
}

.toolsPlaceholder {
    width: 350px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}

.toolsPlaceholder.maximized {
    width: 0;
}

.splitterContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inspectorControls {
    background-color: white;
}

.designTools {
    background-color: #f2f2f2;
}

.designTools::shadow ::content > * {
    margin: 0;
}

.designTools {
    padding: 0 8px;
}

.paletteTree {
    background-color: white;
    height: 50%;
}

#tree {
    overflow: hidden;
}

.dropped {
    position: absolute;
    width: 80px;
    height: 102px;
}

.dropped.selected {
    border: 4px dashed silver;
}

designer-canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ep {
    position:absolute;
    top: 5px;
    right: 5px;
    width:10px;
    height:10px;
    background-color:orange;
    cursor:pointer;
}

.ep:hover {
    box-shadow: 0px 0px 6px #ffdd35;
}

.wrapper {
    cursor: move;
    width: 80px;
    height: 100px;
}